/* CSS FOR THE OPTION PAGE */
#rowhovercolor {
	text-transform:uppercase;
}
.acb_row {
	height:40px;
	width:100%;
}
.acb_cell {
	width:33%;
	float:left;
}
.acb_cell.center {
	text-align:center;
	width:34%;
}
.acb_cell.right {
	text-align:right;
}
.acb_displaytextinput {
	width:70%;
	margin:0 auto;
	background-color:white;
	border:solid 1px gray;
}
textarea#customcss {
	height:200px;
	width:100%;
	resize:none;
}